body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12336 {
  position:absolute;
  left:50px;
  top:131px;
  width:163px;
  height:20px;
}
#u12337 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u12339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12339 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1200px;
  height:50px;
}
#u12340 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12341 {
  position:absolute;
  left:899px;
  top:14px;
  width:52px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12342 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u12343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:41px;
}
#u12343 {
  position:absolute;
  left:50px;
  top:4px;
  width:60px;
  height:40px;
}
#u12344 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u12345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u12345 {
  position:absolute;
  left:849px;
  top:5px;
  width:38px;
  height:38px;
  color:#A1A1A1;
}
#u12346 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  word-wrap:break-word;
}
#u12347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12347 {
  position:absolute;
  left:118px;
  top:11px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12348 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u12349 {
  position:absolute;
  left:790px;
  top:9px;
  width:29px;
  height:28px;
}
#u12350 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12351 {
  position:absolute;
  left:806px;
  top:7px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u12352 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12353 {
  position:absolute;
  left:988px;
  top:14px;
  width:45px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12354 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u12355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u12355 {
  position:absolute;
  left:974px;
  top:16px;
  width:1px;
  height:18px;
}
#u12356 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u12357 {
  position:absolute;
  left:710px;
  top:15px;
  width:46px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u12358 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12359 {
  position:absolute;
  left:632px;
  top:15px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12360 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12361 {
  position:absolute;
  left:626px;
  top:37px;
  width:118px;
  height:202px;
  overflow:hidden;
  visibility:hidden;
}
#u12361_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:202px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12361_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12362 {
  position:absolute;
  left:3px;
  top:6px;
  width:112px;
  height:188px;
}
#u12363 {
  position:absolute;
  left:2px;
  top:86px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12364 {
  position:absolute;
  left:18px;
  top:14px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12365 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12366 {
  position:absolute;
  left:18px;
  top:44px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12367 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12368 {
  position:absolute;
  left:18px;
  top:74px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12369 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12370 {
  position:absolute;
  left:18px;
  top:105px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12371 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12372 {
  position:absolute;
  left:18px;
  top:134px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12373 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12374 {
  position:absolute;
  left:18px;
  top:163px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12375 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12376 {
  position:absolute;
  left:517px;
  top:14px;
  width:88px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12377 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u12378 {
  position:absolute;
  left:52px;
  top:129px;
  width:93px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u12380 {
  position:absolute;
  left:0px;
  top:49px;
  width:1200px;
  height:70px;
}
#u12381 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12382 {
  position:absolute;
  left:200px;
  top:71px;
  width:127px;
  height:24px;
  font-size:20px;
}
#u12383 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12384 {
  position:absolute;
  left:51px;
  top:71px;
  width:125px;
  height:24px;
  font-size:20px;
}
#u12385 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12386 {
  position:absolute;
  left:388px;
  top:67px;
  width:428px;
  height:36px;
}
#u12387 {
  position:absolute;
  left:2px;
  top:10px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12388 {
  position:absolute;
  left:818px;
  top:68px;
  width:36px;
  height:36px;
}
#u12389 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12390 {
  position:absolute;
  left:314px;
  top:68px;
  width:73px;
  height:33px;
}
#u12390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u12390_input:disabled {
  color:grayText;
}
#u12391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u12391 {
  position:absolute;
  left:406px;
  top:74px;
  width:186px;
  height:20px;
  color:#A1A1A1;
}
#u12392 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12393 {
  position:absolute;
  left:129px;
  top:317px;
  width:71px;
  height:20px;
}
#u12394 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12396 {
  position:absolute;
  left:210px;
  top:318px;
  width:79px;
  height:16px;
}
#u12397 {
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12396_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12398 {
  position:absolute;
  left:308px;
  top:318px;
  width:51px;
  height:16px;
}
#u12399 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u12398_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12400 {
  position:absolute;
  left:378px;
  top:318px;
  width:45px;
  height:16px;
}
#u12401 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u12400_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12402 {
  position:absolute;
  left:442px;
  top:318px;
  width:79px;
  height:16px;
}
#u12403 {
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12402_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12404 {
  position:absolute;
  left:540px;
  top:318px;
  width:47px;
  height:16px;
}
#u12405 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u12404_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12406 {
  position:absolute;
  left:606px;
  top:318px;
  width:70px;
  height:16px;
}
#u12407 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u12406_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12408 {
  position:absolute;
  left:128px;
  top:200px;
  width:71px;
  height:20px;
}
#u12409 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12410 {
  position:absolute;
  left:209px;
  top:200px;
  width:151px;
  height:25px;
}
#u12410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12410_input:disabled {
  color:grayText;
}
#u12411 {
  position:absolute;
  left:378px;
  top:200px;
  width:151px;
  height:25px;
}
#u12411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12411_input:disabled {
  color:grayText;
}
#u12412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12412 {
  position:absolute;
  left:100px;
  top:258px;
  width:99px;
  height:20px;
}
#u12413 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#1E1E1E;
}
#u12414 {
  position:absolute;
  left:209px;
  top:253px;
  width:100px;
  height:30px;
  color:#1E1E1E;
}
#u12415 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12416 {
  position:absolute;
  left:110px;
  top:318px;
  width:69px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u12417 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u12418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12418 {
  position:absolute;
  left:110px;
  top:200px;
  width:69px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u12419 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u12420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12420 {
  position:absolute;
  left:77px;
  top:258px;
  width:69px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u12421 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u12422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12422 {
  position:absolute;
  left:128px;
  top:410px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u12423 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12424 {
  position:absolute;
  left:109px;
  top:460px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u12425 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12426 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12427 {
  position:absolute;
  left:210px;
  top:490px;
  width:696px;
  height:135px;
}
#u12427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:135px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12428 {
  position:absolute;
  left:210px;
  top:457px;
  width:696px;
  height:34px;
}
#u12429 {
  position:absolute;
  left:2px;
  top:9px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
}
#u12430 {
  position:absolute;
  left:222px;
  top:464px;
  width:244px;
  height:19px;
}
#u12431 {
  position:absolute;
  left:2px;
  top:2px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12432 {
  position:absolute;
  left:116px;
  top:654px;
  width:790px;
  height:16px;
  font-size:14px;
}
#u12433 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  word-wrap:break-word;
}
#u12434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12434 {
  position:absolute;
  left:211px;
  top:692px;
  width:42px;
  height:16px;
  font-size:14px;
}
#u12435 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12436 {
  position:absolute;
  left:242px;
  top:690px;
  width:464px;
  height:25px;
}
#u12436_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12437 {
  position:absolute;
  left:210px;
  top:735px;
  width:42px;
  height:16px;
  font-size:14px;
}
#u12438 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u12439 {
  position:absolute;
  left:242px;
  top:734px;
  width:464px;
  height:25px;
}
#u12439_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u12440 {
  position:absolute;
  left:793px;
  top:689px;
  width:19px;
  height:22px;
}
#u12441 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u12442 {
  position:absolute;
  left:793px;
  top:733px;
  width:19px;
  height:22px;
}
#u12443 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12444 {
  position:absolute;
  left:125px;
  top:791px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u12445 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12446 {
  position:absolute;
  left:240px;
  top:795px;
  width:666px;
  height:87px;
}
#u12446_input {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12447 {
  position:absolute;
  left:746px;
  top:692px;
  width:40px;
  height:16px;
}
#u12448 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12447_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12449 {
  position:absolute;
  left:746px;
  top:735px;
  width:40px;
  height:16px;
}
#u12450 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12449_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12451 {
  position:absolute;
  left:210px;
  top:408px;
  width:200px;
  height:22px;
}
#u12451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12451_input:disabled {
  color:grayText;
}
#u12452 {
  position:absolute;
  left:212px;
  top:369px;
  width:113px;
  height:16px;
}
#u12453 {
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u12452_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12454 {
  position:absolute;
  left:309px;
  top:369px;
  width:100px;
  height:16px;
}
#u12455 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12454_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12456 {
  position:absolute;
  left:129px;
  top:369px;
  width:71px;
  height:20px;
}
#u12457 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12458 {
  position:absolute;
  left:110px;
  top:369px;
  width:36px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u12459 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u12460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12460 {
  position:absolute;
  left:110px;
  top:410px;
  width:36px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u12461 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u12462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#9933FF;
}
#u12462 {
  position:absolute;
  left:237px;
  top:1015px;
  width:100px;
  height:30px;
  color:#9933FF;
}
#u12463 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#9933FF;
}
#u12464 {
  position:absolute;
  left:448px;
  top:1015px;
  width:100px;
  height:30px;
  color:#9933FF;
}
#u12465 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u12466 {
  position:absolute;
  left:116px;
  top:893px;
  width:110px;
  height:16px;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u12467 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u12468 {
  position:absolute;
  left:238px;
  top:892px;
  width:424px;
  height:25px;
}
#u12468_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12469 {
  position:absolute;
  left:238px;
  top:935px;
  width:61px;
  height:21px;
}
#u12470 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u12471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12471 {
  position:absolute;
  left:309px;
  top:935px;
  width:43px;
  height:21px;
}
#u12472 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u12473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12473 {
  position:absolute;
  left:362px;
  top:935px;
  width:46px;
  height:21px;
}
#u12474 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u12475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12475 {
  position:absolute;
  left:417px;
  top:935px;
  width:61px;
  height:21px;
}
#u12476 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u12477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12477 {
  position:absolute;
  left:488px;
  top:935px;
  width:42px;
  height:21px;
}
#u12478 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u12479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12479 {
  position:absolute;
  left:540px;
  top:935px;
  width:61px;
  height:21px;
}
#u12480 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u12481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12481 {
  position:absolute;
  left:678px;
  top:897px;
  width:284px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u12482 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
