body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:521px;
}
#u12918 {
  position:absolute;
  left:2px;
  top:192px;
  width:1052px;
  height:521px;
}
#u12919 {
  position:absolute;
  left:2px;
  top:252px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12920 {
  position:absolute;
  left:50px;
  top:138px;
  width:100px;
  height:30px;
}
#u12921 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:2px;
}
#u12923 {
  position:absolute;
  left:117px;
  top:1166px;
  width:1202px;
  height:1px;
}
#u12924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12925 {
  position:absolute;
  left:478px;
  top:1184px;
  width:385px;
  height:16px;
}
#u12926 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u12928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
}
#u12928 {
  position:absolute;
  left:0px;
  top:49px;
  width:1200px;
  height:70px;
}
#u12929 {
  position:absolute;
  left:2px;
  top:27px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12930 {
  position:absolute;
  left:200px;
  top:71px;
  width:127px;
  height:24px;
  font-size:20px;
}
#u12931 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12932 {
  position:absolute;
  left:50px;
  top:71px;
  width:123px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12933 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u12934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12934 {
  position:absolute;
  left:388px;
  top:67px;
  width:428px;
  height:36px;
}
#u12935 {
  position:absolute;
  left:2px;
  top:10px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12936 {
  position:absolute;
  left:818px;
  top:68px;
  width:36px;
  height:36px;
}
#u12937 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u12938 {
  position:absolute;
  left:406px;
  top:74px;
  width:186px;
  height:20px;
  color:#A1A1A1;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u12940 {
  position:absolute;
  left:314px;
  top:68px;
  width:73px;
  height:33px;
}
#u12940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u12940_input:disabled {
  color:grayText;
}
#u12941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:59px;
}
#u12942 {
  position:absolute;
  left:868px;
  top:138px;
  width:169px;
  height:59px;
}
#u12943 {
  position:absolute;
  left:2px;
  top:22px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12944 {
  position:absolute;
  left:953px;
  top:142px;
  width:84px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12947 {
  position:absolute;
  left:388px;
  top:104px;
  width:429px;
  height:101px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:42px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12949 {
  position:absolute;
  left:401px;
  top:113px;
  width:189px;
  height:20px;
}
#u12950 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u12951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12951 {
  position:absolute;
  left:401px;
  top:145px;
  width:189px;
  height:20px;
}
#u12952 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12953 {
  position:absolute;
  left:401px;
  top:179px;
  width:189px;
  height:20px;
}
#u12954 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u12955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:2px;
}
#u12955 {
  position:absolute;
  left:389px;
  top:137px;
  width:427px;
  height:1px;
}
#u12956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:2px;
}
#u12957 {
  position:absolute;
  left:389px;
  top:172px;
  width:427px;
  height:1px;
}
#u12958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u12959 {
  position:absolute;
  left:190px;
  top:104px;
  width:189px;
  height:108px;
}
#u12960 {
  position:absolute;
  left:10px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u12962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12962 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1200px;
  height:50px;
}
#u12963 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12964 {
  position:absolute;
  left:899px;
  top:14px;
  width:52px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12965 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:41px;
}
#u12966 {
  position:absolute;
  left:50px;
  top:4px;
  width:60px;
  height:40px;
}
#u12967 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u12968 {
  position:absolute;
  left:849px;
  top:5px;
  width:38px;
  height:38px;
  color:#A1A1A1;
}
#u12969 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  word-wrap:break-word;
}
#u12970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12970 {
  position:absolute;
  left:118px;
  top:11px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12971 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u12972 {
  position:absolute;
  left:790px;
  top:9px;
  width:29px;
  height:28px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12974 {
  position:absolute;
  left:806px;
  top:7px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u12975 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12976 {
  position:absolute;
  left:988px;
  top:14px;
  width:45px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12977 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u12978 {
  position:absolute;
  left:974px;
  top:16px;
  width:1px;
  height:18px;
}
#u12979 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u12980 {
  position:absolute;
  left:710px;
  top:15px;
  width:46px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u12981 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12982 {
  position:absolute;
  left:632px;
  top:15px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12983 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12984 {
  position:absolute;
  left:626px;
  top:37px;
  width:118px;
  height:202px;
  overflow:hidden;
  visibility:hidden;
}
#u12984_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:202px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12984_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12985 {
  position:absolute;
  left:3px;
  top:6px;
  width:112px;
  height:188px;
}
#u12986 {
  position:absolute;
  left:2px;
  top:86px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12987 {
  position:absolute;
  left:18px;
  top:14px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12988 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12989 {
  position:absolute;
  left:18px;
  top:44px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12990 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12991 {
  position:absolute;
  left:18px;
  top:74px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12992 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12993 {
  position:absolute;
  left:18px;
  top:105px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12994 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12995 {
  position:absolute;
  left:18px;
  top:134px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12996 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u12997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12997 {
  position:absolute;
  left:18px;
  top:163px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u12998 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u12999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12999 {
  position:absolute;
  left:517px;
  top:14px;
  width:88px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u13000 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u13001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1232px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13001 {
  position:absolute;
  left:0px;
  top:-9px;
  width:1200px;
  height:1232px;
}
#u13002 {
  position:absolute;
  left:2px;
  top:608px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:294px;
}
#u13003 {
  position:absolute;
  left:292px;
  top:300px;
  width:472px;
  height:294px;
}
#u13004 {
  position:absolute;
  left:2px;
  top:139px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:59px;
}
#u13005 {
  position:absolute;
  left:570px;
  top:535px;
  width:194px;
  height:59px;
}
#u13006 {
  position:absolute;
  left:2px;
  top:22px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:59px;
}
#u13007 {
  position:absolute;
  left:291px;
  top:594px;
  width:473px;
  height:59px;
}
#u13008 {
  position:absolute;
  left:2px;
  top:22px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13009 {
  position:absolute;
  left:419px;
  top:608px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13010 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u13011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13011 {
  position:absolute;
  left:728px;
  top:315px;
  width:24px;
  height:24px;
}
#u13012 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
